# Virtual Environments
.venv/
venv/

# Environment Variables
*.env
.env*

# PyCache Files
__pycache__/
*.py[cod]

# Custom Files
pre_run_checks.py

# Safe Tenseor Files
saved_models/
*.safetensors
config.json

# Dataset Related Folders
data/
raw_datasets/
test_datasets/
raw/
clean_train/
annotations/
train2017/
train2017_lr/
val2017/
latents/

# Model Checpoints
checkpoints/

# Model experiments
experiments/

# Gradio UI Files
.gradio/